.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  padding-left: 164px !important;
  padding-right: 164px !important;

  .subContainer {
    margin-top: 5rem;
    .intro {
      line-height: 32px;
    }
    .title {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
      line-height: 150%;
      font-size: 4rem;
    }
    .image {
      width: 340px;
      height: 425px;
    }
    .image2 {
      width: 610px;
      height: 425px;
      border-radius: 10px;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }
    .content1 {
      text-align: right;
    }
    .content2 {
      text-align: left;
    }
  }
}
