* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.autocomplete-dropdown-container {
  width: 70rem;
  margin-top: 1rem;

  .iconSvg {
    margin-left: 1rem;
  }

  .suggestion-item,
  .suggestion-item--active {
    // box-sizing: border-box;
    // flex-shrink: 0;
    height: 5rem;
    margin-bottom: 0.6155rem;
    // padding: 1.846rem 4.514rem 1.846rem 1rem;
    // margin-left: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    z-index: 100;
  }

  .suggestion-item:hover {
    // background-color: red !important;
    // cursor: pointer !important;
  }

  // .suggestion-item--active {
  //   background-color: #e1a965 !important;
  // }

  span {
    margin-left: 20 !important;
  }

  .textSuggestion {
    margin-left: 20px !important;
    padding: auto;
  }
}

.nd-book-driver-page-callcenter-k45 {
  background-color: #ffffff;
  height: 102.4rem;
  //position: relative;
  width: 100%;

  .mySvg ellipse {
    transform: translate(2px, 0.2rem);
  }

  .nh-v-li-thng-tin-a-ch-kyB {
    color: #111827;
    font-family: Inter, "Source Sans Pro";
    font-size: 2.4rem;
    font-weight: 600;
    height: 3.6rem;
    margin-left: 19.6rem;
    line-height: 1.5;
    // position: absolute;
    //top: 15.9rem;
    white-space: nowrap;
    width: 38.5rem;
  }

  .auto-group-wvdp-5nV {
    align-items: flex-start;
    //justify-content: center;
    display: flex;
    height: 38rem;
    margin-left: 19.6rem;
    // position: absolute;
    // margin-top: 16.7rem;
    width: 129.5rem;

    .auto-group-6mfb-ajF {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.5rem 9.5rem 0rem 0rem;
      width: 35rem;

      .search-oc1 {
        box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.200000003),
          0 0.01rem 0.03rem rgba(0, 0, 0, 0.1000000015);
        flex-shrink: 0;
        height: 4.8rem;
        margin-bottom: 2.8rem;
        width: 100%;

        .content-YJh {
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.2rem;
          box-sizing: border-box;
          display: flex;
          height: 100%;
          padding: 1rem 22.6rem 1rem 1.6rem;
          width: 100%;

          .magnifyingglass-Fiu {
            align-items: center;
            color: #fa8d1d;
            display: flex;
            flex-shrink: 0;
            font-family: SF Pro Display, "Source Sans Pro";
            font-size: 1.8rem;
            font-weight: 500;
            height: 100%;
            justify-content: center;
            line-height: 2.7777777778;
            margin-right: 2.4rem;
            overflow: hidden;
            position: relative;
            white-space: nowrap;
            width: 2.8rem;
          }

          .placeholder-label-t9b {
            flex-shrink: 0;
            font-family: Roboto, "Source Sans Pro";
            font-size: 1.7rem;
            font-weight: 400;
            letter-spacing: 0.05rem;
            line-height: 1.2941176471;
            white-space: nowrap;
            display: flex;
            width: 279px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            outline: none;
            border: none;

            &:active {
              border: none;
            }
          }
        }
      }

      .triplist-cDK {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        height: 14.1rem;
        position: relative;
        width: 100%;

        .rectangle-1238-kKX {
          background-color: #ffffff;
          border-radius: 1rem;
          height: 14rem;
          left: 0;
          position: absolute;
          top: 0.1rem;
          width: 35rem;
        }

        .group-37331-eQu {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 7.962rem;
          left: 1.4rem;
          position: absolute;
          top: 5.2rem;
          width: 33.5842rem;

          .auto-group-un45-xRb {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            width: 100%;

            .group-33301-i9s {
              flex-shrink: 0;
              height: 2.262rem;
              margin-right: 2.407rem;
              object-fit: contain;
              position: relative;
              vertical-align: top;
              width: 2.793rem;
            }

            .address-qkH {
              color: #000000;
              display: flex;
              flex-shrink: 0;
              font-family: Inter, "Source Sans Pro";
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.3999999364;
              margin-top: 0.438rem;
              white-space: nowrap;
            }
          }

          .auto-group-scnh-jqf {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            padding: 0.838rem 1.584rem 0.8rem 1.4rem;
            width: 100%;

            .line-63-F3K {
              background-color: rgba(89, 85, 85, 0.5);
              flex-shrink: 0;
              height: 0.1rem;
              margin-bottom: 0.1rem;
              width: 0.1rem;
            }

            .line-69-yED {
              background-color: rgba(89, 85, 85, 0.5);
              flex-shrink: 0;
              height: 0.5rem;
              width: 0.1rem;
            }

            .auto-group-z87w-JnH {
              border-left: solid 0.1rem rgba(89, 85, 85, 0.5);
              border-top: solid 0.03rem #d5d4d4;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 0.5rem;
              margin-bottom: 0.1rem;
              width: 100%;
            }

            .line-66-oDF {
              background-color: rgba(89, 85, 85, 0.5);
              flex-shrink: 0;
              height: 0.5rem;
              width: 0.1rem;
            }
          }

          .auto-group-w53b-YAq {
            flex-shrink: 0;
            height: 2.262rem;
            object-fit: contain;
            vertical-align: top;
            width: 33.5842rem;
          }
        }

        .trpaa001-rxD {
          color: #000000;
          display: flex;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 700;
          height: 2.1rem;
          left: 1.4rem;
          line-height: 1.3599999746;
          position: absolute;
          top: 2.15rem;
          white-space: nowrap;
          width: 7.2rem;
        }

        .am-4-ch-wCy {
          color: #dfd7d7;
          display: flex;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1rem;
          font-weight: 400;
          height: 2.6rem;
          left: 24rem;
          line-height: 1.3600000381;
          position: absolute;
          text-align: right;
          top: 0;
          white-space: nowrap;
          width: 8.6rem;
        }
      }
    }

    .auto-group-bk2q-Bt1 {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 70rem;

      .section-header-82Z {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;

        .thng-tin-chung--TqX {
          align-items: baseline;
          color: #f43f5e;
          display: flex;
          flex-shrink: 0;
          font-family: Inter, "Source Sans Pro";
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          margin-right: 53.2rem;
          white-space: nowrap;

          .thng-tin-chung--TqX-sub-0 {
            color: #000000;
            font-family: Inter, "Source Sans Pro";
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
          }

          .thng-tin-chung--TqX-sub-1 {}
        }

        .ghost-S5B {
          border-radius: 0.8rem;
          cursor: pointer;
          flex-shrink: 0;
          height: 3.2rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.2rem;
        }
      }

      .input-xZK {
        background-color: #f9fafb;
        border: solid 0.1rem #e5e7eb;
        border-radius: 0.8rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 7.2rem;
        margin-bottom: 1.2rem;
        padding: 1.2rem;
        width: 100%;

        .frame-79-J7P {
          height: 100%;
          width: 8rem;

          .s-in-thoi-3qf {
            color: #6b7280;
            font-family: Inter, "Source Sans Pro";
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.6666666667;
            margin-bottom: 0.4rem;
            white-space: nowrap;
          }

          .website-jCh {
            color: #111827;
            font-family: Inter, "Source Sans Pro";
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.7142857143;
            white-space: nowrap;
          }
        }
      }

      .input-1AD {
        background-color: #f9fafb;
        border: solid 0.1rem #e5e7eb;
        border-radius: 0.8rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 7.2rem;
        margin-bottom: 1.2rem;
        padding: 1.2rem;
        width: 100%;

        .frame-79-XuF {
          height: 100%;
          width: 22rem;

          .a-ch-n-gGM {
            color: #6b7280;
            font-family: Inter, "Source Sans Pro";
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.6666666667;
            margin-bottom: 0.4rem;
            white-space: nowrap;
          }

          .available-products-at-our-website-znq {
            color: #111827;
            font-family: Inter, "Source Sans Pro";
            font-size: 1.4rem;
            //width: 68rem;
            font-weight: 400;
            line-height: 1.7142857143;
            white-space: nowrap;
            outline: none;
            border: none;
            background-color: #f9fafb;

            &::placeholder {
              color: #111827;
              font-family: Inter, "Source Sans Pro";
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
        }
      }

      .input-Ui1 {
        background-color: #f9fafb;
        border: solid 0.1rem #e5e7eb;
        border-radius: 0.8rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 7.2rem;
        margin-bottom: 1.2rem;
        padding: 1.2rem;
        width: 100%;

        .frame-79-1T3 {
          height: 100%;
          width: 22rem;

          .loi-xe-7W5 {
            color: #6b7280;
            font-family: Inter, "Source Sans Pro";
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.6666666667;
            margin-bottom: 0.4rem;
            white-space: nowrap;
          }

          .available-products-at-our-website-pQV {
            color: #111827;
            font-family: Inter, "Source Sans Pro";
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.7142857143;
            white-space: nowrap;
          }
        }
      }

      .rectangle-1748-hjB {
        background-color: #e5e7eb;
        flex-shrink: 0;
        height: 0.1rem;
        width: 100%;
      }
    }
  }

  .input-qqP {
    align-items: center;
    margin-top: 2rem;
    background-color: #fa8d1d;
    border-radius: 0.8rem;
    color: #ffffff;
    display: flex;
    font-family: Inter, "Source Sans Pro";
    font-size: 2rem;
    font-weight: 600;
    height: 7.2rem;
    justify-content: center;
    left: 64.1rem;
    line-height: 1.2;
    // position: absolute;
    top: 83.1rem;
    white-space: nowrap;
    width: 70rem;
  }

  .maps-zoom-levels-3-street-HSV {
    //height: 27.9rem;
    left: 64.1rem;
    // position: absolute;
    top: 50.9rem;
    width: 697px;
    height: 313px;
    flex-shrink: 0;
    // background: url("https://i.stack.imgur.com/HILmr.png"),
    //   lightgray 50% / cover no-repeat;
    // z-index: -1;

    .maps-zoom-level-3-street-zLu {
      background-color: #ffffff;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;

      .map-of-birmingham-street-jpH {
        height: 67.9rem;
        left: -21rem;
        object-fit: cover;
        position: absolute;
        top: -20.9rem;
        vertical-align: top;
        width: 106.1rem;
      }

      .map-of-birmingham-street-45s {
        height: 67.9rem;
        left: -21rem;
        object-fit: cover;
        position: absolute;
        top: -20.9rem;
        vertical-align: top;
        width: 106.1rem;
      }
    }
  }

  .googleMapCSS {
    display: flex;
    // justify-content:;
    flex-direction: column;
    margin-left: 70rem;
  }

  .triplist-A8u {
    align-items: flex-end;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 14rem;
    left: 8.6rem;
    padding: 0.5rem 0.016rem 0.938rem 1.4rem;
    position: absolute;
    top: 61.5rem;
    width: 35rem;

    .am-4-ch-2gu {
      color: #dfd7d7;
      display: flex;
      flex-shrink: 0;
      font-family: Quicksand, "Source Sans Pro";
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.3600000381;
      margin: 0rem 2.384rem 0.1rem 0rem;
      text-align: right;
      white-space: nowrap;
    }

    .auto-group-tinh-ukh {
      box-sizing: border-box;
      color: #000000;
      display: flex;
      flex-shrink: 0;
      font-family: Quicksand, "Source Sans Pro";
      font-size: 1.5rem;
      font-weight: 700;
      height: 2.15rem;
      line-height: 1.3599999746;
      margin: 0rem 1.584rem 0.95rem 0rem;
      padding-top: 0.05rem;
      white-space: nowrap;
      width: 32rem;
    }

    .group-37331-a69 {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;

      .auto-group-f9iv-WkV {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        width: 100%;

        .group-33301-fNV {
          flex-shrink: 0;
          height: 2.262rem;
          margin-right: 2.407rem;
          object-fit: contain;
          position: relative;
          vertical-align: top;
          width: 2.793rem;
        }

        .address-Brd {
          color: #000000;
          display: flex;
          flex-shrink: 0;
          font-family: Inter, "Source Sans Pro";
          font-size: 1.2rem;
          font-weight: 500;
          line-height: 1.3999999364;
          margin-top: 0.438rem;
          white-space: nowrap;
        }
      }

      .auto-group-hmzf-uXj {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding-top: 0.838rem;
        width: 100%;

        .line-63-SGm {
          background-color: rgba(89, 85, 85, 0.5);
          flex-shrink: 0;
          height: 0.1rem;
          margin: 0rem 0rem 0.1rem 1.4rem;
          width: 0.1rem;
        }

        .line-69-M8q {
          background-color: rgba(89, 85, 85, 0.5);
          flex-shrink: 0;
          height: 0.5rem;
          margin-left: 1.4rem;
          width: 0.1rem;
        }

        .auto-group-stvy-54q {
          border-left: solid 0.1rem rgba(89, 85, 85, 0.5);
          border-top: solid 0.03rem #d5d4d4;
          box-sizing: border-box;
          flex-shrink: 0;
          height: 0.5rem;
          margin: 0rem 1.584rem 0.1rem 1.4rem;
          width: calc(100% - 2.9842rem);
        }

        .line-66-jfB {
          background-color: rgba(89, 85, 85, 0.5);
          flex-shrink: 0;
          height: 0.5rem;
          margin: 0rem 0rem 0.8rem 1.4rem;
          width: 0.1rem;
        }

        .auto-group-bqbk-FNd {
          flex-shrink: 0;
          height: 2.262rem;
          object-fit: contain;
          vertical-align: top;
          width: 5.2rem;
        }
      }
    }
  }

  .header-callcenter-in1 {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    height: 10.9rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 144rem;

    .rectangle-1-SCD {
      background-color: #ffffff;
      height: 10rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 144rem;
    }

    .about-mVP {
      color: #000000;
      cursor: pointer;
      font-family: Inter, "Source Sans Pro";
      font-size: 2.1rem;
      font-weight: 400;
      height: 1rem;
      left: 119.45rem;
      letter-spacing: -0.024rem;
      line-height: 0.4761904762;
      position: absolute;
      text-align: center;
      top: 4.5rem;
      white-space: nowrap;
      width: 7.2rem;
    }

    .book-qVF {
      color: #fa8d1d;
      font-family: Inter, "Source Sans Pro";
      font-size: 2.1rem;
      font-weight: 400;
      height: 1rem;
      left: 105.4rem;
      letter-spacing: -0.024rem;
      line-height: 0.4761904762;
      position: absolute;
      text-align: center;
      top: 4.6rem;
      white-space: nowrap;
      width: 5.9rem;
    }

    .managebox-X7B {
      box-sizing: border-box;
      color: #000000;
      cursor: pointer;
      font-family: Inter, "Source Sans Pro";
      font-size: 2.1rem;
      font-weight: 400;
      height: 2.8rem;
      left: 86.1rem;
      letter-spacing: -0.024rem;
      line-height: 0.4761904762;
      padding: 0 1.6rem;
      position: absolute;
      text-align: center;
      top: 4.8rem;
      white-space: nowrap;
      width: 12.7rem;
    }

    .home-BhX {
      color: #000000;
      cursor: pointer;
      font-family: Inter, "Source Sans Pro";
      font-size: 2.1rem;
      font-weight: 400;
      height: 1rem;
      left: 73.45rem;
      letter-spacing: -0.024rem;
      line-height: 0.4761904762;
      position: absolute;
      text-align: center;
      top: 4.7rem;
      white-space: nowrap;
      width: 6.2rem;
    }

    .getgo-call-center-fch {
      color: #fa8d1d;
      font-family: Inter, "Source Sans Pro";
      font-size: 2.6rem;
      font-weight: 800;
      height: 7.3rem;
      left: 16.5rem;
      line-height: 1.2307692308;
      position: absolute;
      top: 3.6rem;
      white-space: nowrap;
      width: 43.6rem;
    }

    .image-12-YgV {
      height: 7.0886rem;
      left: 7.3rem;
      object-fit: cover;
      position: absolute;
      top: 1.4rem;
      vertical-align: top;
      width: 7rem;
    }
  }
}

.frame-1329-Vhq {
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: 55rem;
  //left: 0;
  width: 76rem;
  overflow: hidden;
  padding: 4.2rem 0rem 9.5rem 2.3rem;
  // position: absolute;
  // width: 86.4rem;
  // margin-left: 10rem;

  .group-38391-QK1 {
    align-items: center;
    display: flex;
    height: 22.55rem;
    margin: 0rem 8rem 3.45rem 0.1rem;
    width: calc(100% - 8.1rem);

    .auto-group-3hhh-7z7 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;

      .trip-details-UJs {
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.3599999746;
        margin-bottom: 3.1rem;
        white-space: nowrap;
      }

      .id-chuyn-i-beP {
        color: #aaaaaa;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.3599999746;
        margin-bottom: 0.9rem;
        white-space: nowrap;
      }

      .trpaa001-L6B {
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.3599999746;
        margin-bottom: 3.3rem;
        white-space: nowrap;
      }

      .n-ti-rKR {
        color: #aaaaaa;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.3599999746;
        margin-bottom: 2.25rem;
        white-space: nowrap;
      }

      .nguyn-vn-c-qun-5-tphcm-PKM {
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.4;
        max-width: 14.5rem;
      }
    }

    .auto-group-wf5q-VtB {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;
      height: 100%;
      padding: 0.2rem 0rem 0rem 2.1rem;

      .auto-group-wm2f-dDh {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 5.4rem 4rem 0rem 0rem;

        .cch-thc-t-xe-xFy {
          color: #aaaaaa;
          display: flex;
          flex-shrink: 0;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.3599999746;
          margin-bottom: 0.9rem;
          white-space: nowrap;
        }

        .t-khch-hng-sdq {
          align-items: baseline;
          color: #000000;
          display: flex;
          flex-shrink: 0;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.3599999746;
          margin-bottom: 3.3rem;
          white-space: nowrap;

          .t-khch-hng-sdq-sub-0 {
            color: #000000;
            font-family: Quicksand, "Source Sans Pro";
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.3599999746;
            text-transform: capitalize;
          }

          .t-khch-hng-sdq-sub-1 {}

          .t-khch-hng-sdq-sub-2 {
            color: #000000;
            font-family: Quicksand, "Source Sans Pro";
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.3599999746;
            text-transform: capitalize;
          }

          .t-khch-hng-sdq-sub-3 {}

          .t-khch-hng-sdq-sub-4 {
            color: #000000;
            font-family: Quicksand, "Source Sans Pro";
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.3599999746;
            text-transform: capitalize;
          }

          .t-khch-hng-sdq-sub-5 {}
        }

        .tr-ti-P8K {
          color: #aaaaaa;
          display: flex;
          flex-shrink: 0;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.3599999746;
          margin-bottom: 2.25rem;
          white-space: nowrap;
        }

        .nguyn-vn-c-qun-5-tphcm-iAb {
          color: #000000;
          display: flex;
          flex-shrink: 0;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.4;
          max-width: 14.5rem;
        }
      }

      .auto-group-j4n3-S6b {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: calc(100% - 17.25rem);
        margin: 5.4rem 5.1rem 11.85rem 0rem;

        .i-ngay-mPm {
          color: #aaaaaa;
          display: flex;
          flex-shrink: 0;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.3599999746;
          margin-bottom: 0.9rem;
          white-space: nowrap;
        }

        .khng-uF5 {
          color: #000000;
          display: flex;
          flex-shrink: 0;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.3599999746;
          text-transform: capitalize;
          white-space: nowrap;
        }
      }

      .auto-group-ictf-E2T {
        flex-shrink: 0;
        height: calc(100% - 16.25rem);
        margin: 5.4rem 1.8rem 10.85rem 0rem;
        position: relative;
        width: 12.9rem;

        .t-trc-cho-MMy {
          color: #aaaaaa;
          display: flex;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 600;
          height: 2.1rem;
          left: 0;
          line-height: 1.3599999746;
          //position: absolute;
          margin-top: -0.3rem;
          white-space: nowrap;
          width: 12.9rem;
        }

        .august-2023-at-8-00am-41V {
          color: #000000;
          display: flex;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 700;
          height: 4.1rem;
          left: 0;
          line-height: 1.3599999746;
          position: absolute;
          text-transform: capitalize;
          top: 2rem;
          width: 11.2rem;

          .august-2023-at-8-00am-41V-sub-0 {}

          .august-2023-at-8-00am-41V-sub-1 {
            color: #000000;
            font-family: Quicksand, "Source Sans Pro";
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.3599999746;
            text-transform: lowercase;
          }

          .august-2023-at-8-00am-41V-sub-2 {
            color: #000000;
            font-family: Quicksand, "Source Sans Pro";
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.3599999746;
            text-transform: uppercase;
          }
        }
      }

      .auto-group-kmm9-yGs {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 11.85rem;
        width: 11rem;

        .tripstatus-WGo {
          align-items: center;
          background-color: #fdedeb;
          border-radius: 0.7rem;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          margin-bottom: 3.3rem;
          padding: 0.5rem 1.298rem 0.6rem 0.936rem;
          width: 100%;

          .ellipse-368-poH {
            flex-shrink: 0;
            height: 0.6rem;
            margin: 0.2rem 1.064rem 0rem 0rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.7021rem;
          }

          .ang-n-n-khch-uZq {
            color: #fc4661;
            flex-shrink: 0;
            font-family: Inter, "Source Sans Pro";
            font-size: 0.7rem;
            font-weight: 500;
            line-height: 1.4000000272;
            text-align: center;
            white-space: nowrap;
          }
        }

        .s-km-D4j {
          color: #aaaaaa;
          display: flex;
          flex-shrink: 0;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.3599999746;
          margin: 0rem 0.7rem;
          margin-top: -3rem;
          white-space: nowrap;
        }

        .kms-8Sb {
          color: #000000;
          display: flex;
          flex-shrink: 0;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.3599999746;
          margin-right: 1.6rem;
          text-transform: capitalize;
          white-space: nowrap;
        }
      }
    }
  }

  .auto-group-b2bh-9cb {
    flex-shrink: 0;
    // height: 100%;
    // margin-right: 7.5rem;
    // width: 15.6rem;

    .driver-info-tq5 {
      color: #000000;
      display: flex;
      font-family: Quicksand, "Source Sans Pro";
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.3599999746;
      margin: 0rem 0rem 1.9rem 0.1rem;
      white-space: nowrap;
    }

  }

  // .group-11 {
  //   display: flex;

  // }

  .group-38392-FXD {
    align-items: flex-end;
    border-radius: 6.4rem;
    box-sizing: border-box;
    display: flex;
    // justify-content: space-between;
    align-items: start;
    // height: 12.1rem;
    margin-bottom: 2.3rem;
    // padding: 0.8rem 3.8rem 0.5rem 0rem;
    width: 98%;


    .group_driver {
      width: 23rem;
      display: flex;
      flex-direction: row;
      align-items: start;
    }

    .auto-group-x9wd-DcT {
      align-items: center;
      display: flex;
      height: 6.4rem;
      // width: 100%;

      .item-70-AGo {
        border-radius: 6.4rem;
        flex-shrink: 0;
        height: 6.4rem;
        margin-right: 2rem;
        object-fit: cover;
        vertical-align: top;
        width: 6.4rem;
      }

      .auto-group-t7nf-tCo {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: calc(100% - 1.3rem);
        margin: 0.8rem 0rem 0.5rem 0rem;

        .id-ti-x-P9Z {
          color: #aaaaaa;
          display: flex;
          flex-shrink: 0;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.3599999746;
          margin-bottom: 0.9rem;
          white-space: nowrap;
        }

        .trpaa001-75Z {
          color: #000000;
          display: flex;
          flex-shrink: 0;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.3599999746;
          white-space: nowrap;
        }
      }
    }

    .auto-group-mb7d-dpb {
      display: flex;
      flex-direction: column;
      width: 23rem;
      // flex-shrink: 0;
      flex-wrap: wrap;
      // width: 20rem;

      // margin: 0rem 6.1rem 0.5rem 0rem;

      // margin: 0rem 3.3rem 0.5rem 0rem
      .st-aE3 {
        color: #aaaaaa;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.3599999746;
        margin-bottom: 0.9rem;
        white-space: nowrap;
      }

      .item-0974220702-gns {
        color: #000000;
        // display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.3599999746;
        text-transform: capitalize;
        // white-space: nowrap;
      }
    }

    .auto-group-yvkh-osV {
      width: 13rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      // margin: 0rem 3.3rem 0.5rem 0rem;

      .nh-gi-YaB {
        color: #aaaaaa;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.3599999746;
        margin-bottom: 0.9rem;
        white-space: nowrap;
      }

      .khng-54K {
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.3599999746;
        text-transform: capitalize;
        white-space: nowrap;
      }
    }

    .auto-group-vsew-c4F {
      flex-shrink: 0;
      height: 6.1rem;
      margin-right: 9rem;
      position: relative;
      width: 11.2rem;

      .email-kAT {
        color: #aaaaaa;
        display: flex;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 600;
        height: 2.1rem;
        left: 0;
        line-height: 1.3599999746;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 4.3rem;
      }

      .manhtu220702gmailcom-Fsu {
        color: #000000;
        display: flex;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 700;
        height: 4.1rem;
        left: 0.4rem;
        line-height: 1.3599999746;
        position: absolute;
        text-transform: lowercase;
        top: 2rem;
        width: 10.8rem;
      }
    }

    .auto-group-k2nj-xGX {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: calc(100% - 5.7rem);
      margin: 4.2rem 0rem 1.5rem 0rem;

      .s-chuyn-xe-67q {
        color: #aaaaaa;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.3599999746;
        margin-bottom: 0.9rem;
        white-space: nowrap;
      }

      .item-10-1kb {
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.3599999746;
        text-transform: capitalize;
        white-space: nowrap;
      }
    }
  }

  .group-38393-XU3 {
    align-items: center;
    display: flex;
    height: 10.2rem;
    margin: 0rem 6.2rem 3.4rem 0rem;
    width: calc(100% - 6.2rem);

    .auto-group-dwzv-FQ3 {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;

      .payment-details-bio {
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.3599999746;
        margin: 0rem 0.2rem 2.6rem 0rem;
        white-space: nowrap;
      }

      .id-giao-dch-7SF {
        color: #aaaaaa;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.3599999746;
        margin-bottom: 0.9rem;
        white-space: nowrap;
      }

      .trpaa001-eBH {
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.3599999746;
        margin-right: 2.4rem;
        white-space: nowrap;
      }
    }

    .auto-group-4s2f-a4w {
      align-items: flex-end;
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;
      height: 100%;
      padding: 5.1rem 0rem 0rem 7.1rem;

      .auto-group-tqbm-hvF {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
        margin-right: 4.7rem;

        .thanh-ton-bng-Fwm {
          color: #aaaaaa;
          display: flex;
          flex-shrink: 0;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.3599999746;
          margin-bottom: 0.9rem;
          white-space: nowrap;
        }

        .tin-mt-BqR {
          color: #000000;
          display: flex;
          flex-shrink: 0;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.3599999746;
          text-transform: capitalize;
          white-space: nowrap;
        }
      }

      .auto-group-eyt5-Wco {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
        margin-right: 7.4rem;

        .gi-cc-4PR {
          color: #aaaaaa;
          display: flex;
          flex-shrink: 0;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.3599999746;
          margin-bottom: 0.9rem;
          white-space: nowrap;
        }

        .vn-bPM {
          color: #000000;
          display: flex;
          flex-shrink: 0;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.3599999746;
          margin-left: 0.1rem;
          text-transform: capitalize;
          white-space: nowrap;
        }
      }

      .auto-group-cxdh-iD5 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        .trng-thi-thanh-ton-sLs {
          color: #aaaaaa;
          display: flex;
          flex-shrink: 0;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.3599999746;
          margin-bottom: 0.9rem;
          white-space: nowrap;
        }

        .cha-thc-hin-C8F {
          color: #000000;
          display: flex;
          flex-shrink: 0;
          font-family: Quicksand, "Source Sans Pro";
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.3599999746;
          text-transform: capitalize;
          white-space: nowrap;
        }
      }
    }
  }

  .group-38394-Wud {
    width: 60rem;

    .vehicle-details-FcK {
      color: #000000;
      display: flex;
      font-family: Quicksand, "Source Sans Pro";
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.3599999746;
      margin-bottom: 2.6rem;
      white-space: nowrap;
    }

    .auto-group-djj5-wzw {
      align-items: center;
      display: flex;
      margin: 0rem 0rem 0.9rem 7.1rem;

      .tn-phng-tin-HJ7 {
        color: #aaaaaa;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.3599999746;
        margin-right: 13.6rem;
        white-space: nowrap;
      }

      .bin-s-DBm {
        color: #aaaaaa;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.3599999746;
        margin-right: 13.4rem;
        white-space: nowrap;
      }

      .s-ch-wdZ {
        color: #aaaaaa;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.3599999746;
        white-space: nowrap;
      }
    }

    .auto-group-cskv-UdV {
      align-items: center;
      display: flex;
      margin: 0rem 4.9rem 0rem 7.1rem;
      width: calc(100% - 12rem);

      .toyota-3200x-800-ofm {
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.3599999746;
        margin-right: 13.5rem;
        white-space: nowrap;
      }

      .item-12345678-YNT {
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.3599999746;
        margin-right: 13.1rem;
        text-transform: capitalize;
        white-space: nowrap;
      }

      .item-7-G3Z {
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Quicksand, "Source Sans Pro";
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.3599999746;
        text-transform: capitalize;
        white-space: nowrap;
      }
    }
  }
}

.mx-15 {
  width: 10rem !important;
}

.width-100 {
  max-width: 10rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Số dòng tối đa */
  -webkit-box-orient: vertical;
  overflow: hidden;
}